# 4.6 Combining and Exporting Data

In [3]:
#Import Pandas Numpy and OS
import pandas as pd
import numpy as np
import os

In [7]:
#Import orders data
df_ords_clean = pd.read_csv('/Users/ariedlin/Desktop/Career Foundry Assignments/8-24 Instacart Blanket Analysis Real/2 Data/2 Prepared Data/df_ords_clean.csv')

In [9]:
#Import new df_ords_prior data
df_ords_prior = pd.read_csv('/Users/ariedlin/Desktop/Career Foundry Assignments/8-24 Instacart Blanket Analysis Real/2 Data/2 Prepared Data/orders_products_prior.csv')

# Review both dataframes using head function

In [12]:
df_ords_clean.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [14]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

# Check the shape of the dataframes

In [19]:
df_ords_clean.shape

(3421083, 8)

In [21]:
df_ords_prior.shape

(32434489, 4)

# Merge df_ords_clean and df_ords_prior dataframes

In [26]:
df_merged_large = df_ords_clean.merge(df_ords_prior, on = 'order_id', indicator = True)

In [27]:
#Check to make sure the merge looks correct
df_merged_large.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [35]:
#Check Shape
df_merged_large.shape

(32434489, 12)

In [30]:
#Check value counts
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# Export df_merged_large to a pickle file

In [33]:
df_merged_large.to_pickle('/Users/ariedlin/Desktop/Career Foundry Assignments/8-24 Instacart Blanket Analysis Real/2 Data/2 Prepared Data/df_merged_large')